
@{
    ViewBag.Title = "VerifyAccount";
    Layout = null;
}

@if (ViewBag.verifiedAccount != null)
{
    <div class="container ptb-30">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <p>
                    <em>
                        <br /><br /><h3 style="text-align:center;color:red">@ViewBag.verifiedAccount</h3><br /><br />
                    </em>
                </p>
            </div>
        </div>
    </div>
}